h1{
    text-transform: uppercase;
    font-family:"Libre Baskerville";
    
  }
body{
    background-color: black;
}

.border{
    border: 5px solid white;
    width: 50%;
}

.poster{
    width:50%;
    margin-left: 25%;
    margin-top:  200px;
    text-align: center;
    background-color: black;
    color: white;
}



